[submodule "auth-services"]
	path = auth-services
	url = git@github.com:Fernando87ca/bebilo-auth-services.git
[submodule "baby-services"]
	path = baby-services
	url = git@github.com:Fernando87ca/bebilo-baby-service.git
